<div class="bg-theme pt-5 pb-5">
  <div class="container">
    <h1 class="text-white">General Knowledge</h1>
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequatur.
    </p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
