<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-primary-theme">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aperiam
        aliquam consequuntur doloremque dolore aspernatur cupiditate! Excepturi
        sint aliquid perspiciatis itaque, ducimus, iure architecto rem ad facere
        minus impedit, dolorum quo quisquam! Enim quas ullam nihil accusantium
        corrupti consectetur, quaerat tenetur? Ut officia possimus quod!
        Reiciendis laboriosam temporibus quam repellendus minus consequatur quia
        asperiores quos quaerat harum velit sit architecto accusamus iusto
        praesentium saepe nesciunt a beatae mollitia, ipsum cum inventore
        perferendis natus tempore! Perferendis, pariatur. Asperiores doloremque
        amet voluptatibus, doloribus recusandae quia sunt unde quas voluptatem
        assumenda iure reprehenderit, aspernatur at deserunt eos corporis nam
        quasi neque sapiente necessitatibus!
      </p>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aperiam
        aliquam consequuntur doloremque dolore aspernatur cupiditate! Excepturi
        sint aliquid perspiciatis itaque, ducimus, iure architecto rem ad facere
        minus impedit, dolorum quo quisquam! Enim quas ullam nihil accusantium
        corrupti consectetur, quaerat tenetur? Ut officia possimus quod!
        Reiciendis laboriosam temporibus quam repellendus minus consequatur quia
        asperiores quos quaerat harum velit sit architecto accusamus iusto
        praesentium saepe nesciunt a beatae mollitia, ipsum cum inventore
        perferendis natus tempore! Perferendis, pariatur. Asperiores doloremque
        amet voluptatibus, doloribus recusandae quia sunt unde quas voluptatem
        assumenda iure reprehenderit, aspernatur at deserunt eos corporis nam
        quasi neque sapiente necessitatibus!
      </p>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aperiam
        aliquam consequuntur doloremque dolore aspernatur cupiditate! Excepturi
        sint aliquid perspiciatis itaque, ducimus, iure architecto rem ad facere
        minus impedit, dolorum quo quisquam! Enim quas ullam nihil accusantium
        corrupti consectetur, quaerat tenetur? Ut officia possimus quod!
        Reiciendis laboriosam temporibus quam repellendus minus consequatur quia
        asperiores quos quaerat harum velit sit architecto accusamus iusto
        praesentium saepe nesciunt a beatae mollitia, ipsum cum inventore
        perferendis natus tempore! Perferendis, pariatur. Asperiores doloremque
        amet voluptatibus, doloribus recusandae quia sunt unde quas voluptatem
        assumenda iure reprehenderit, aspernatur at deserunt eos corporis nam
        quasi neque sapiente necessitatibus!
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme px-4">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
