<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e4/View_of_handyman_drip_art_wall_painting_closeup_on_section.JPG"
          alt="post-image"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-danger text-center ml-2">Featured</small>
          <small class="bg-light text-danger text-center ml-2">
            Views - 10,234
          </small>
          <small class="bg-light text-danger text-center ml-2">
            LAST UPDATED - MAR, 20,23
          </small>

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            alias temporibus tempora aperiam dicta quia neque amet impedit
            voluptates totam, esse, quae minima perferendis, officia earum
            corrupti repellendus perspiciatis veritatis quos in dolor? Natus
            animi nulla architecto cum ipsum, voluptate aut magnam, pariatur
            consectetur repellat dolores, quod ratione beatae. Unde quisquam
            voluptatem, atque doloribus, nemo commodi provident autem, similique
            porro praesentium id eligendi vero modi ipsam placeat! Sunt vitae
            temporibus officiis cupiditate esse quod praesentium consectetur.
            Aliquid nihil quidem adipisci praesentium nulla unde nam quam soluta
            molestiae accusamus repellendus itaque, tempora eveniet incidunt
            sint, sed maxime? Ad deserunt quis commodi blanditiis quam mollitia
            dolores veniam dicta voluptates accusantium. Provident, mollitia
            expedita culpa nostrum sapiente, nihil assumenda quae unde veniam
            repellendus corporis non delectus odit dicta vel odio perspiciatis
            illum magni illo voluptate modi doloribus vero? Qui dolores fugit,
            repellendus veniam suscipit, quam odit similique aut porro ullam,
            recusandae expedita sit beatae possimus distinctio voluptate
            veritatis error natus commodi neque minima optio ea in. Cupiditate
            impedit aperiam suscipit a iste voluptatum maxime, qui accusamus
            temporibus ea pariatur repellendus ducimus sint tenetur labore
            delectus eaque assumenda eos ex dolores quidem obcaecati sequi.
            Ratione quibusdam repellendus molestiae sequi neque, fuga
            exercitationem nemo illo repudiandae aliquam aliquid eius numquam
            eaque ipsa temporibus expedita officiis! Doloribus, tempora aliquam?
            Veritatis, omnis accusamus. Laudantium suscipit doloribus
            repellendus nihil consectetur dicta, vero laboriosam dolor, ipsam
            ipsum ut culpa. Ex earum dolores laudantium nihil libero optio omnis
            alias, temporibus quas voluptates debitis, id minima facere est
            error corrupti architecto expedita aperiam quod. Earum quasi
            pariatur et asperiores temporibus odio autem assumenda dolorum animi
            odit cum labore tenetur, officiis aperiam vel sapiente dignissimos
            eos modi totam consequuntur itaque unde qui. Placeat magnam
            laudantium quia accusantium at, reiciendis neque perspiciatis cumque
            consectetur qui pariatur sapiente sunt iste illum adipisci officiis
            vitae.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>

      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
