<div class="card shadow-effect">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE1BkhpGOSNak6Ci3WifdH2xZ_sxIHuzLxaw&usqp=CAU"
    alt="post-image"
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 10,234</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
      officiis harum. Nihil, sunt adipisci sequi reprehenderit, obcaecati
      delectus ducimus inventore consequuntur tempore veritatis debitis! Ab,
      fugiat a. Distinctio, et illo.
    </p>

    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - APR 20, 2023
    </small>
  </div>
</div>
